body {
  background: #1d1d1d;
  background-color: #1d1d1d;
  color: #ededed;
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  text-transform: none;
}
.reveal section img {
  background: none;
  border: none;
  box-shadow: none;
}
.reveal section h1,
.reveal section h2 {
  color: #007acc;
}
.reveal section h2 {
  margin-bottom: 4rem;
}

.reveal section .highlight {
  color: #c9f833;
}
.reveal section .alert {
  color: #ff3737;
}
.reveal pre {
  font-size: 0.55em;
  width: auto;
  padding: 15px;
  word-wrap: break-word;
  overflow: auto;
  background-color: #3f3f3f;
  color: white;
}
.reveal code {
  background-color: #3f3f3f;
  color: white;
  padding: 4px;
}
.reveal pre mark {
  background: transparent;
  color: inherit;
  border: 2px solid #007acc;
  padding: 0 0.25rem;
  vertical-align: top;
}

ul.no-bullet {
  list-style-type: none !important;
  margin-left: 0 !important;
}
